<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TLE_Form.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <TLE_Form.Properties.Settings>
            <setting name="TLEName" serializeAs="String">
                <value>TERRA</value>
            </setting>
            <setting name="TLELine1" serializeAs="String">
                <value>1 25994U 99068A   21305.91857737  .00000151  00000-0  43376-4 0  9993</value>
            </setting>
            <setting name="TLELine2" serializeAs="String">
                <value>2 25994  98.1642  17.7389 0001135  93.0803  22.4464 14.57128334163368</value>
            </setting>
            <setting name="GPSLog" serializeAs="String">
                <value>108.85</value>
            </setting>
            <setting name="GPSLat" serializeAs="String">
                <value>34.16</value>
            </setting>
            <setting name="GPSHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="PridectDays" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MinEl" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="TrackTime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LeadDueTime" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MaxEl" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="URL" serializeAs="String">
                <value>https://celestrak.com/NORAD/elements/active.txt</value>
            </setting>
        </TLE_Form.Properties.Settings>
    </userSettings>
</configuration>
